<h1>Posts</h1>

<spinner [visible]="isPostLoading"></spinner>

<div class="row">
    <div class="col-md-6">     
        <div class="has-text-centered">
            <pagination-controls (pageChange)="page = $event"></pagination-controls>
        </div>          
        <select class="form-control" #u (change)="getUserPosts({userId : u.value})">
            <option value="">Select a user</option>
            <option *ngFor="let user of users" value="{{user.id}}">
                {{user.name}}
            </option>
        </select>
        <ul class="list-group">
            <li class="list-group-item" *ngFor='let post of posts | paginate: { itemsPerPage: 10, currentPage: page }' [class.active]="currentPost == post" (click)="selectPost(post)">
                {{post.title}}
            </li>
        </ul>          
    </div>

    <div class="col-md-6">
        <div  *ngIf="currentPost" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{currentPost.title}}</h3>
            </div>
            <div class="panel-body">
                {{currentPost.body}}
            </div>
            <hr />            
            <spinner [visible]="isCommentLoading"></spinner>
            <div class="media" *ngFor="let comment of currentPost.comments">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object thumbnail" src="http://lorempixel.com/80/80/people?random={{ comment.id }}" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            {{ comment.name }}
                        </h4> 
                        {{ comment.body }}
                    </div>
            </div>
        </div>
    </div>
</div>